/* body{
    font-family: 'Courier New', Courier, monospace;
} */
.cover {
    background-image: linear-gradient(rgba(57, 59, 63, 0.822) ,rgba(74, 79, 87, 0.849)) , url(Img/go.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* div, h1, .diplay-1{
    font-family: 'Courier New', Courier, monospace;
} */
button, .btn {
    font-family: 'Courier New', Courier, monospace;
    width: 15rem;
}
